.cart{
    justify-content: space-around;
}

.itemInCart{
    background: white;
    display: flex;
    border: 1px solid darkgray;
    margin: 1%;
    align-items: center;
    justify-content: space-around;
}

.productImg{
    width: 10%;
}

.summary{
    border: 1px solid darkgray;
    background: #4CAF50;
    margin: 1%;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.summaryElement{
    margin: 5px;
}

