body{
    margin: 0;
}

a{
    text-decoration: none;
}

.gallery{
    background: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img{
    width: 100%;
}

.product{
    background: white;
    width: 580px;
    height: 660px;
    margin: 30px;
    border: 1px solid darkgray;
}

.buy-button{
    background-color: #4CAF50;
    color: white;
    margin: 5%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.buy-button:hover{
    background: #45a049;
    cursor: pointer;
}

p{
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .product{
        width: auto;
        height: auto;
        margin: 30px;
        border: 1px solid lightgray;
    }

    .buy-button{
        background-color: #4CAF50;
        color: white;
        padding: 5px 150px 5px 150px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

}

