body{
    margin: 0;
}

.gallery{
    background: #FF0000;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img{
    width: 100%;
}

.product{
    background: #FFFF00;
    width: 580px;
    height: 660px;
    margin: 30px;
    border: 1px solid black;
}

.buy-button{
    margin: 5px;
    background: #9F9F9F;
    border: 1px solid #000000;
    padding: 5px;
    display: block;
}

.buy-button:hover{
    background: #BFBFBF;
    cursor: pointer;
}

p{
    padding-right: 30px;
    padding-left: 30px;
}

