.gallery{
    background: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    text-decoration: none;
}

.gallery img{
    width: 100%;
}

.product{
    width: 550px;
    height: 420px;
    margin: 30px;
    border: 1px solid lightgray;
}

.buy-button{
    background-color: #4CAF50;
    color: white;
    padding: 5px 250px 5px 250px;

    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.buy-button:hover{
    background: #45a049;
    cursor: pointer;
}



